{% extends "capstone/layout.html" %}

{% block title %}
    Receitas
{% endblock title %}

{% block body %}
    <main class="recipes">
        <div class="grid-receitas">
            {% for recipe in recipes %}
                <div class="receita" id="{{ recipe.id }}">
                    <!-- {% if not recipe.img %}
                        <img src="http://placehold.it/940x280?text=RECEITA SEM FOTO" />
                    {% else %}
                        <img src="capstone/images/recipe-placeholder3.png" alt="{{ recipe.title }}">
                    {% endif %}-->

                    {% for file in files %}
                        {% if file.recipe == recipe %}
                            <img src="{{ file.path }}" alt="{{ recipe.title }}">
                        {% endif %}
                    {% endfor %}

                    {# <img src="{{ file.path }}" alt="{{ recipe.title }}"> #}

                    <div class="texto-receita">
                        <h3>{{ recipe.title }}</h3>
                        <p>por {{ recipe.chef }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="pagination"
            data-page={{ pagination.page }}
            data-total={{ pagination.total }}
        ></div>
    </main>
{% endblock body %}
