{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Categories</h2>

    <form action="{% url 'filtered_category' %}" method="get">
        <select name="filter">
            <option value="all">All</option>
            {% for category in categories %}
                <option value="{{ category.id }}">{{ category.name }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Filter">
    </form>


    <div class="active-listing">
        {% for listing in active_listing %}
            <div class="listing-item">
                <div class="listing-img">
                    <img src="{{ listing.image_url }}" alt="{{ listing.title }}" style="height: 100px;">
                </div>
                <div class="listing-info">
                    <h3>{{ listing.title }}</h3>
                    <p>{{ listing.description }}</p>
                    <p>Price: ${{ listing.current_price }}</p>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}